[Unit]
Description=Start project tmux sessions
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /home/mds/start-projects.sh

[Install]
WantedBy=default.target
